@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); /* use poppins font*/
:root { /* make color varaible*/
  --primary: #398e3e;
  --secondary: #145c72;
  --secondary-light: #00a0d1;
}


*{
margin:0;
padding: 0;
box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Poppins",sans-serif;
   

}
body{
    font-size: 1.6rem;
}
.background{
    background-image: url(mahama.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.box{
    height: 300px;
    width: 70%;
    background-color: var(--primary);
}
